<plugin start="true">
	<uid>pt.uminho.ceb.biosystems.merlin.biocoiso</uid>
	<name>merlin-biocoiso</name>
	<version>4.0.1</version>

	<dependencies>
		<dependency uid="merlin" />
	</dependencies>

	<extensions>
		<extension uid="aibench.core"
			name="aibench.core.operation-definition"
			class="pt.uminho.ceb.biosystems.merlin.merlin_biocoiso.BiocoisoRetriever">
			<operation-description name="Execute BioISO"
				path="40@validation/10@BioISO" uid="operations.BioISO.ID" />
		</extension>
		
		<extension uid="aibench.core"
			name="aibench.core.operation-definition"
			class="pt.uminho.ceb.biosystems.merlin.merlin_biocoiso.BiocoisoResultsImporter">
			<operation-description name="Import BioISO results"
				path="40@validation/20@BioISO" uid="operations.BioISOImporter.ID" />
		</extension>
		<extension uid="aibench.core"
			name="aibench.core.operation-definition"
			class="pt.uminho.ceb.biosystems.merlin.merlin_biocoiso.BiocoisoHistory">
			<operation-description name="BioISO simulation history"
				path="40@validation/30@BioISO" uid="operations.BioISOHistory.ID" />
		</extension>

		<extension uid="aibench.workbench"
			name="aibench.workbench.view">
			<icon-operation operation="operations.BioISOImporter.ID"
				icon="icons/Lifecycle/remote.png" />
		</extension>
		
		<extension uid="aibench.workbench"
			name="aibench.workbench.view">
			<icon-operation operation="operations.BioISO.ID"
				icon="icons/Lifecycle/remote.png" />
		</extension>

		
		<extension uid="aibench.workbench"
			name="aibench.workbench.view">

			<gui-operation operation="operations.BioISO.ID"
				class="pt.uminho.ceb.biosystems.merlin.merlin_biocoiso.BiocoisoGUI" />
		</extension>

		<extension uid="aibench.workbench"
			name="aibench.workbench.view">
			<view name="BioISO results"
				datatype="pt.uminho.ceb.biosystems.merlin.merlin_biocoiso.datatypes.ValidationBiocoisoAIB"
				class="pt.uminho.ceb.biosystems.merlin.merlin_biocoiso.ValidationBiocoisoAIBView" />
				<!-- class="pt.uminho.ceb.biosystems.merlin.aibench.views.WorkspaceGenericEntityDataView" /> -->
		</extension>
		<extension uid="aibench.workbench"
			name="aibench.workbench.view">
			<menu-icon menu="validation/BioISO" icon="icons/Lifecycle/remote.png" />
		</extension>
			
	</extensions>
</plugin>