<plugin start="true">
	<uid>merlin-biocoiso</uid>
	<name>pt.uminho.ceb.biosystems.merlin.biocoiso</name>
	<version>2.5.1</version>

	<dependencies>
		<dependency uid="merlin" />
	</dependencies>

	<extensions>
		<extension uid="aibench.core"
			name="aibench.core.operation-definition"
			class="pt.uminho.ceb.biosystems.merlin.merlin_biocoiso.BiocoisoRetriever">
			<operation-description name="BioCoISO"
				path="40@validation/" uid="operations.BioCoISO.ID" />
		</extension>

		<extension uid="aibench.workbench"
			name="aibench.workbench.view">
			<icon-operation operation="operations.BioCoISO.ID"
				icon="icons/Lifecycle/remote.png" />
		</extension>

		<extension uid="aibench.workbench"
			name="aibench.workbench.view">

			<gui-operation operation="operations.BioCoISO.ID"
				class="pt.uminho.ceb.biosystems.merlin.merlin_biocoiso.BiocoisoGUI" />
		</extension>

		<extension uid="aibench.workbench"
			name="aibench.workbench.view">
			<view name="BioCoISO results"
				datatype="pt.uminho.ceb.biosystems.merlin.merlin_biocoiso.datatypes.ValidationBiocoisoAIB"
				class="pt.uminho.ceb.biosystems.merlin.merlin_biocoiso.ValidationBiocoisoAIBView" />
				<!-- class="pt.uminho.ceb.biosystems.merlin.aibench.views.WorkspaceGenericEntityDataView" /> -->
		</extension>
		<extension uid="aibench.workbench"
			name="aibench.workbench.view">
			<menu-icon menu="validation" icon="conf/icons/validation.png" />
		</extension>
	</extensions>
</plugin>